*{
    margin: 0;
    padding: 0;
}

.main{
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(7, 6, 6, 0.877)50%,rgba(7, 6, 6, 0.877)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

}

  
.wrapper{
    margin-top: 40px;
    text-align: center;
  }
  
  .wrapper h1{
    font-family: 'Yatra One', cursive;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.918);
    margin-bottom: 25px;
  }
  
  .our_team{
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .our_team .team_member{
    width: 250px;
    margin: 5px;
    background: #fff;
    padding: 20px 10px;
  }
  
  .our_team .team_member .member_img{
    background: #e9e5fa;  
    max-width: 190px;
    width: 100%;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    cursor: pointer;
  }
  
  .our_team .team_member .member_img img{
    width: 100%;
    height: 100%;
  }
  
  .our_team .team_member h3{
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.918);
    line-height: 18px;
    letter-spacing: 2px;
    margin: 15px 0 0px;
  }
  
  .our_team .team_member span{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.918);
  }
  
  .our_team .team_member p{
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.918);
    line-height: 20px;
  }
  
  .our_team .team_member .member_img .social_media{
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(0,0,0,0.65);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
     transition: all 0.5s ease;
  }
  
  
  .our_team .team_member .member_img .social_media .item{
    margin: 0 10px;
  }
  
  .our_team .team_member .member_img .social_media .fab{
    color: #ff7200;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.918);
  }
  
  .our_team .team_member .member_img:hover .social_media{
    transform: scale(1);

  }

  body{
    width: 100%;
    background: linear-gradient(to top, rgba(7, 6, 6, 0.877)50%,rgba(7, 6, 6, 0.877)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
  nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #7a5503;
    align-items: center;
    justify-content: space-between;
   
    flex-wrap: wrap;
    }

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
  width: 75px;
  float: left;
  height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.918);
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.918);
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.918);
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}


.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.918);
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}
*
    
   
    
    .wrapper{
      margin-top: 0;
      text-align: center;
    }
    
    .wrapper h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 0%;
    letter-spacing: 2px;
    }
    
    .our_team{
      width: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    .our_team .team_member{
      width: 250px;
      margin: 5px;
      background: #41300a83;  
      padding: 20px 10px;
    }
    
    .our_team .team_member .member_img{
      background: #aaa4a0;  
      max-width: 190px;
      width: 100%;
      height: 190px;
      margin: 0 auto;
      border-radius: 50%;
      padding: 5px;
      position: relative;
      cursor: pointer;
    }
    
    .our_team .team_member .member_img img{
      width: 100%;
      height: 100%;
    }
    
    .our_team .team_member h3{
      text-transform: uppercase;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 2px;
      margin: 15px 0 0px;
    }
    
    .our_team .team_member span{
      font-size: 10px;
    }
    
    .our_team .team_member p{
      margin-top: 20px;
      font-size: 14px;
      line-height: 20px;
    }
    
    .our_team .team_member .member_img .social_media{
      position: absolute;
      top: 5px;
      left: 5px;
      background: rgba(0,0,0,0.65);
      width: 95%;
      height: 95%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0);
       transition: all 0.5s ease;
    }
    
    
    .our_team .team_member .member_img .social_media .item{
      margin: 0 10px;
    }
    
    .our_team .team_member .member_img .social_media .fab{
      color: #ff7200;
      font-size: 20px;
    }
    
    .our_team .team_member .member_img:hover .social_media{
      transform: scale(1);

    }
